.title {
  font-size: 25px;
  margin-bottom: 30px;
}

.department {
  margin-bottom: 20px;
}

.department span {
  color: #999;
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
}

.report > span {
  color: #999;
  font-size: 14px;
}

.report {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.report-message {
  height: 300px;
  padding: 0 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.report-message.invalid {
  border: 1px solid red;
  outline: red;
}

.inputs input {
  padding: 5px 10px;
  width: 100%;
}

.inputs input.invalid {
  border: 1px solid red;
  outline: red;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin: 30px 0;
}

.checkboxes input {
  margin-right: 10px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
}
